*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
body{
    background-color: #000000;
}
.banner{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    background-position: center;
    background-size: cover;
}
.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
     border-radius: 50%;
}
.navbar ul li{
    list-style-type: none;     /*önündeki noktaları kaldırdı*/
    display: inline-block;     /*yanyana yazdı*/ 
    margin: 0 25px;
}
.navbar ul li a{
    text-decoration: none;   /*altındaki çzigiyi kaldırdı*/
    color: #fff;           /*linklerin rengini beyaz yaptık*/
} 
.navbar ul li a:hover{
    box-shadow: 0px 2px rgb(236, 0, 0);
    transition: 0.5s;
} 


.content{
    width: 100%;
    position: absolute;   /* sayfanın kenarlarına göre kendini hizaladı */
    top: 40%;             /*yukarıdan %40lık boşluk bıraktı*/
    color: white;
    text-align: center;   /*ortaladık*/
    font-size: 30px;
}
 @media screen and (max-width: 800px){
    .content{
        position: relative;
    }
}