*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.banner{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    background-position: center;
    background-size: cover;
}
.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
     border-radius: 50%;
}
.navbar ul li{
    list-style-type: none;     /*önündeki noktaları kaldırdı*/
    display: inline-block;     /*yanyana yazdı*/ 
    margin: 0 25px;
}
.navbar ul li a{
    text-decoration: none;   /*altındaki çzigiyi kaldırdı*/
    color: #fff;           /*linklerin rengini beyaz yaptık*/
} 
.navbar ul li a:hover{
    box-shadow: 0px 2px rgb(236, 0, 0);
    transition: 0.5s;
}

.content{
    width: 100%;
    position: absolute;    /*sayfanın kenarlarına göre kendini hizaladı*/
    top: 40%;             /*yukarıdan %40lık boşluk bıraktı*/
    color: rgb(255, 255, 255);
    text-align: center;     /*ortaladık*/
}
.content h1{
    font-size: 65px;
}
.content p{
    margin: 20px auto;  /*sağdan soldan ortalama,alttan üstten 20px boşluk bıraktı.*/
}
body{
    background-color: #000000;
}
 @media screen and (max-width: 800px){
    img{
        width: 100%;
    }
}


